  <app-header></app-header>
  <main id="main">
    <router-outlet></router-outlet>
    <!-- <app-about></app-about>
    <app-potential></app-potential>
    <app-portfolio></app-portfolio>    
    <app-contact></app-contact>
    <app-footer></app-footer> -->
    <!-- ======= Testimonials Section ======= -->
    <!-- End Testimonials Section -->
  </main><!-- End #main -->
  <app-footer></app-footer>
    <!-- <div id="preloader"></div>  -->
  <!-- <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i></a> -->
